/* Styles for update.html */
body {
    font-family: "Vazirmatn", sans-serif;
    background-color: #1c1c1c;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
    direction: rtl;
    text-align: center;
}
.progress-container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.progress-bar {
    background-color: #eeeeee;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    width: 250px;
    direction: ltr;
}
.progress-bar-inner {
    height: 20px;
    width: 0;
    background-color: #4caf50;
    transition: width 0.3s;
}
